.Card{
    cursor: pointer;
    font-size: 0;
    position: relative;
    outline: none;
    width: var(--card-with);
    height: var(--card-with);
    
    &-backImage{
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
    &-frontImage{
        transform: rotateY(0deg);
    }
    &.selected .Card-backImage{
        transform: rotateY(0deg);
    }
    &.selected .Card-frontImage{
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
}
.Card-backImage,
.Card-frontImage{
    box-shadow: 0px 4px 4px #d6d3d3;
    border-radius: 0.6rem;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
