:root{
    --card-with: 18rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

html * {
    font-size: 1.6rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}