@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root{
    --card-with: 10rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

html * {
    font-size: 1.6rem;
}
body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}